<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KlonsChatAdmin.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KlonsQ.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KlonsChatAdmin.app>
            <setting name="serverurl" serializeAs="String">
                <value>https://zbks.eu:5063</value>
            </setting>
            <setting name="serverurl2" serializeAs="String">
                <value>http://localhost:5292</value>
            </setting>
        </KlonsChatAdmin.app>
        <KlonsQ.app>
            <setting name="serverurl3" serializeAs="String">
                <value>https://zbks.eu:5063</value>
            </setting>
            <setting name="serverurl" serializeAs="String">
                <value>http://localhost:5292</value>
            </setting>
        </KlonsQ.app>
    </userSettings>
</configuration>